/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
.header-main{
    width: 90%;
    margin: auto;
}
    /* ================================================================================================= */
/* header */
.flex{
    display: flex;
    justify-content: space-between;
}
.container{
    background-color: #fff;
    box-shadow: 0px 2px 5px #ccc;
}
#stick{
    position: sticky;
    top: 0;
}
.nav-logo{
    margin-top: 4px;
}
.nav a{
    text-decoration: none;
    color: black;
    padding: 10px;
}
.nav a:hover{
    text-decoration: underline wavy hotpink;
}
.nav{
    margin-top: 13px;
}
.nav-icons{
    display: flex;
    padding: 10px 10px;
    gap: 20px;
}
.btn{
    padding: 10px 12px;
    background-color: #1CBBB4;
    color:#fff;
    border: none;
    border-radius: 3px;
}
.btn:hover{
    border: 1px solid #1CBBB4;
    background-color: white;
    color:black;
    border-radius: 3px;
}
.search{
    margin-top: 14px;
}
    /* ======================================================================================================== */
/* Home */
#Home{
    width: 100%;
    min-height: 100vh;
    background-color: #FFF0E5;
}
h1{
    text-align: center;
    font-size: 50px;
    padding-top: 100px;
}
span{
    color:hotpink;
}
#p{
    text-align: center;
    padding-top: 30px;
    color:black;
}
.Home-btn{
    padding: 15px 40px;
    margin-left: 610px;
    font-size: 15px;
    margin-top: 30px;
    background-color: #A1DD70;
    color:#fff;
    border: none;
    border-radius: 5px;
    transition: 0.7s;
}
.left-img{
    margin-top: -30%;
    margin-left: 110px;
    /* position: absolute;
    top: 10px; */
    
}
.right-img{
    margin-left: 72%;
    margin-top: -10%;
}
.bottom-img{
    margin-left: 100px;
    margin-top: -15%;
}
.Home-btn:hover{
     background-color: #91DDCF;
     color:black;
}
/* about */
#About{
    background-color: #fff;

}
.abt1-left{
    width: 500px;
    margin-top: 90px;
    margin-left:160px;
}
.abt1-left h4{
    color: orangered;
}
.abt-h2{
    margin-bottom: 10px;
}
.abt-btn{
    padding: 15px 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
}
.abt-btn:hover{
  background-color: #A1DD70;
}
.box1-f{
    width: 265px;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    margin-bottom: 20px;
}
.box1-f img{
    border-radius: 50%;
    background-color: orangered;
    margin-top: 20px;
    margin-left: 20px;
}
p{
    font-size: 15px;
}
.rbox-txt,.rbox2-txt{
    margin-left: 35px;
    margin-top: 10px;
}
#r-p{
    font-size: 25px;
    font-weight: bold;
}
.box1-sec{
    width: 265px;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    margin-bottom: 20px;
}
.rbox1-img2{
    width: 42px;
    height: 42px;
    background-color: #F075AA;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50%;
}
.rbox-1,.rbox-2{
    display: flex;
    gap:20px;
}
.box1-sec:hover{
    box-shadow: 1px 0px 15px #ccc;
    cursor: pointer;
}
.box1-f:hover{
    box-shadow: 1px 0px 15px #ccc;
    cursor: pointer;
}
.abt1-main{
    display: flex;
    gap: 30px;
}
.abt1-rmain{
    margin-top: 100px;
    margin-right: 30px;
}
.rbox-1{
    margin-top: 100px;
    margin-right: 30px;
}
.rbox2-1,.rbox2-2{
    width: 265px;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
}
.rbox2-1img{
    width: 42px;
    height: 42px;
    background-color: #A1DD70;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50%;
}
.rbox2-1:hover{
    box-shadow: 1px 0px 15px #ccc;
    cursor: pointer;
}
.rbox2-2img{
    width: 42px;
    height: 42px;
    background-color: #3DC2EC;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50%;
}
.rbox2-2:hover{
    box-shadow: 1px 0px 15px #ccc;
    cursor: pointer;
}
.about-2-left{
    margin-top: 15px;
    margin-left: 150px;
}
.about-2-center img{
    width: 100px;
    height: 100px;
}
.about-2-center{
    border-radius: 5px;
    width: 170px;
    height: 170px;
    border: 1px solid #FFF0E5;
    background-color: #FFF0E5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.about-2-2-center{
    margin-top: 20px;
    border-radius: 5px;
    width: 170px;
    height: 115px;
    padding: 21px 21px;
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px #ccc;
}
#ab-2-h3{
    font-weight: bold;
    color: #3DC2EC;
    font-size: 30px;
}
.abt-2-btn
{
    padding: 15px 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-top: 30px;
    border-radius: 5px;
}
.abt-2-btn:hover{
    background-color:#A1DD70;
    color: #000;
    cursor: pointer;
}
.about-2-main{
    margin-top: 50px;
    display: flex;
}
.center-main{
    margin-left: 20px;
    margin-top: 60px;
}
.right-abt{
    margin-left: 30px;
    margin-top: 45px;
}
.r-abt-h4{
    margin-bottom: 15px;
    color:#3DC2EC;
}
.abt-2-p{
    margin-top: 10px;
}
   /* ======================================================================================================================= */
/* footer */
.footer-contant{
    text-align: center;
    margin-top: 40px;
    width: 100%;
    height: 35vh;
    background-color: #FFF0E5;
}
.contact-flex i{
    font-size: 20px;
    padding-left:30px;
}
.icons-size{
    font-size: 70px;
    color:#000;
    margin-top: 30px;
}
#fot-img{
    margin-top: 30px;
}
.f-h1{
    font-size: 40px;
    padding-top: 15px;
}
  /* ========================================================================================== */
/* class */
/* class-1-text */
.cls-1-txt{
    text-align: center;
    margin-top: 50px;
}
.cls-txt-h4{
    color: #A1DD70;
    margin-bottom: 10px;
}
.cls-1-img img{
    margin-left: 900px;
    margin-top: -100px;
}
#cls-1-img{
    position: relative;
    animation-name: sch-img;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
@keyframes sch-img {
    0%{
        top: 0px;
        left: 0px;
    }
    100%{
        top: 0px;
        left: 50px;
    }
}
 /* ======================================================================================================== */
/* class-1-content */
.cls-f-main{
    display: flex;
}
.cls-cont-f-main{
    display: flex;
    margin-left: 90px;
}
.cls-f-main,.cls-sec-main{
    width: 500px;
    height: 230px;
    border: 1px solid #f2f2f2;
    border-radius: 7px;
    margin-left: 50px;
    margin-top: -30px;
}
.cls-1-p2-cont{
    display: flex;
    margin-top: 20px;
}
.cls-f-1-img{
    width: 140px;
    height: 60px;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    margin-top: 90px;
    margin-left: -30px;
}
.cls-f-1-cont,.cls-sec-cont,.cls-2-1-txt{
    margin-top: 30px;
    margin-left: 20px;
}
.cls-p1-cont{
    margin-top: 20px;
}
#p-cont{
    color:#A1DD70
}
.cls-h3-cont:hover{
    color: #A1DD70;
}
.cls-h3-cont{
    font-weight: bold;
}
.cls-f-main:hover{
    box-shadow: 5px 5px 25px #ccc ;
}
.cls-sec-main:hover{
    box-shadow: 5px 5px 25px #ccc ;
}
.cls-sec-img{
    width: 140px;
    height: 60px;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    margin-top: 90px;
    margin-left: -30px;
}
.cls-sec-main{
    margin-right: 20px;
    display: flex;
}

.cls-2-1-img,.cls-2-2-img
{   width: 70px;
    height: 70px;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    margin-top: 90px;
    margin-left: -30px;
}
.cls-2-f-main{
    width: 500px;
    height: 230px;
    border: 1px solid #f2f2f2;
    border-radius: 7px;
    margin-left: 50px;
    margin-top: -30px;
    display: flex;
}
.cls-2-f-main:hover{
    box-shadow: 5px 5px 25px #ccc ;
}
.cls-2-f-main{
    margin-left: 71px;
}
.cls-2-2-main
{
    width: 500px;
    height: 230px;
    border: 1px solid #f2f2f2;
    border-radius: 7px;
    margin-left: 50px;
    margin-top: -30px;
    display: flex;
}
.cls-cont-2-main
{
    display: flex;
    margin-top: 50px;
    margin-left: 70px;
}
.cls-2-2-main:hover{
    box-shadow: 5px 5px 25px #ccc ;
}
    /* ======================================================================================================== */
/* class-teacher */
.cls-miss-txt{
    margin-top: 50px;
    text-align: center;
}
.cls-miss-txt h4{
    margin-bottom: 10px;
    color:#80C4E9;
}
.cls-t1 img,.cls-t2 img,.cls-t3 img
{
    border-top-left-radius: 55px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 55px;
}
.cls-social-icons
{
    font-size: 20px;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
#icon-1,#icon-2,#icon-3,#icon-4
{
    width: 32px;
    height: 25px;
    background-color: #FFF0E5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 50%;
}
.cls-t-main{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
   /* ================================================================================================================== */
/* contact */
#contact-part-1
{
    background-color: #FFF0E5;
    width: 100%;
    min-height: 60vh;
}
#contact-part-h1{
    margin-right: 600px;
}
#contact-part-h3{
    margin-left: 250px;
    margin-top: 30px;
}
.contact-img
{
    margin-left: 60%;
    margin-top: -200px;
}
    /* ================================================================================================================ */
/* contact-part-2 */
.block-1 img,.block-2 img,.block-3 img{
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
}
.block-1,.block-2,.block-3
{
    width:300px;
    height: 180px;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.part-2-main{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
}
.block-1:hover{
    box-shadow: 5px 5px 25px #ccc ;
}
.block-2:hover{
    box-shadow: 5px 5px 25px #ccc ;
}
.block-3:hover{
    box-shadow: 5px 5px 25px #ccc ;
}
iframe{
    width: 100%;
    margin-bottom: 50px;
}
.part-3-form
{
    width: 450px;
    height: 450px;
}
.form-1-row input{
    padding: 10px 25px;
    border-radius: 10px;
    margin-top: 10px;
    outline: none;
    border: 1px solid #ccc;
}
.form-2-row input,.form-3-row input,.form-4-row textarea,.form-5-row button{
  width: 97%;
  padding: 10px 25px;
  margin-top: 30px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
}
.form-4-row textarea{
    height: 100px;
}
.form-5-row button{
    background-color: orangered;
}
.contact-part-3-main{
    display: flex;
    justify-content: space-evenly;
}
.part-3-form{
    margin-top: 35px;
}

